<!DOCTYPE html>
<html lang="en">
<head>

    <style type="text/css">
    body{
        background-color: rgb(96, 137, 175);
    }

    </style>
   
</head>
<body>
    <h1> <center> PRIYANKA </center></h1>
    <h2><center>ID:1001874594</center></h2>
<center>
    <br>
    <br>
    <br>
    <center>
        <img src="/static/woolf.jpg" height="300px" width="300px">
    </center>
    <br>
    <br>
    <br>

    <form method='POST' action="/objectdata">
        ENTER ANY NAME OF OBJECT TO SEE THE DATA <input type="text" name="object" placeholder="Enter any object">
        <br>
        <br>
        <input type="submit">
    </form>

    <br>
    <br>
    <br>


    <form method='POST' action='/range'>
        ENTER A RANGE MIN <input type="number" name='min' placeholder="Enter min value"> AND MAX <input type="number" name='max' placeholder="Enter max value"> TO SEE THE DATA BETWEEN THAT RANGE
        <br>
        <br>
        <input type="submit">
    </form>

    <br>
    <br>
    <br>


    <form method="POST" action="/details">
        ENTER ANY CHARM WORD <input type="text" name="charm" placeholder="Enter charm word"> TO SEE THE DATA RELATED TO THAT WORD
        <br>
        <br>
        <input type="submit">
    </form>


</center>
    

</body>
</html>